@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Oswald:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
* {
  margin: 0%;
  padding: 0%;
}
html {
  font-family: "Poppins", sans-serif;
  --text: #33322e;
  --color: #04BFBF;
}

/* ------- Config Index -------- */
/* colors #FF7300 #FFB50D #2E7BE8 */
body {
  display: flex;
  height: 100vh;
}

.bg {
  background-image: url(/img/wave.svg);
  backdrop-filter: url(/img/wave.svg) blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 20px 1px rgb(24, 25, 26);
  display: flex;
  margin: auto;
  text-align: start;
  /* font-family: "Mooli", sans-serif; */
  height: 70%;
  
}
.bg_img{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
}
.bg_img img{
    width: 25rem;
    border-bottom: solid 3px black;
}
.bg_card{
    background-color: var(--color);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
}
.bg_card label{
    font-size: 1.5rem;
    color: var(--text);
    
}
.bg_card input{
  height: 1rem;
  width: 100%;
  padding: 10px 4px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
    border-bottom: 1px solid #6d6a6ab9;
    outline: none;
    background: #ffffffe3;
}
.bg_card a{
  text-decoration: none;
  color: var(--text);
  display:block;
}
.bg_card a:hover:not(button a){
  color: rgb(243, 243, 243);
}
.login{
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  margin: 10px 0;
}
.login a{
  color: white;
  font-size: 1.5rem;
}
.buttons{

}
.buttons button{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #ebeae8;
}
.buttons i{
  height: 100%;
}