.login {
  margin-left: 37%;
  margin-top: 17%;
  
  padding: 3%;
  border-radius: 10px;
  width: 300px;
}

input[type="submit"]{
  background-color: rgb(255, 236, 236);
  border: none;
  padding: 3%;
  cursor: pointer;
}
